{% extends "app/layout.html" %}

{% block title %}Logimize{% endblock %}

{% block body %}
<!-- <style>
  /* Define styles for the map container */
  #map {
      width: 100%;
      height: 600px;
  }
</style>
<div id="map"></div>
    <script>
        // Initialize the map
        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([24.9668, 45.9432]),
                zoom: 7
            })
        });

        var routeCoordinates = [
        ol.proj.fromLonLat([24.9668, 45.9432]), // Start point
        ol.proj.fromLonLat([26.1025, 44.4268])  // End point
        // Add more points as needed
        ];

        // Create a LineString feature for the route
        var route = new ol.Feature({
            geometry: new ol.geom.LineString(routeCoordinates)
        });

        // Create a vector source and add the route feature to it
        var vectorSource = new ol.source.Vector({
            features: [route]
        });

        // Create a vector layer and add it to the map
        var vectorLayer = new ol.layer.Vector({
            source: vectorSource
        });
        map.addLayer(vectorLayer);
    </script> -->
{% endblock %}