{% extends "app/layout.html" %}

{% block title %}Cargo{% endblock %}

{% block body %}
<section>
  <div class="flex flex-col items-center justify-start mt-6 px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-gray-900 rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-white md:text-2xl">
          Enter new package details
        </h1>
        <form class="space-y-4 md:space-y-6 mt-4" action="/cargo" method="POST">
          {% csrf_token %}
          <div>
            <label for="name" class="block mb-2 text-sm font-medium text-white">What you are transporting</label>
            <input type="text" name="name" id="name"
              class="bg-indigo-50 border border-indigo-300 text-indigo-950 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              placeholder="name" required="">
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <label for="source" class="block mb-2 text-sm font-medium text-white">Where the package is going from</label>
              <input type="text" name="source" id="source"
                class="bg-indigo-50 border border-indigo-300 text-indigo-950 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                placeholder="source" required="">
            </div>
            <div>
              <label for="destination" class="block mb-2 text-sm font-medium text-white">Where the package is going to</label>
              <input type="text" name="destination" id="destination"
                class="bg-indigo-50 border border-indigo-300 text-indigo-950 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                placeholder="destination" required="">
            </div>
            <div>
              <label for="mass" class="block mb-2 text-sm font-medium text-white">Weight of the package is</label>
              <input type="text" id="mass" name="mass"
                class="bg-indigo-50 border border-indigo-300 text-indigo-950 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 h-10"
                placeholder="KG" required="" />
            </div> 
            <div>
                <label for="volume" class="block mb-2 text-sm font-medium text-white">Volume of the package is</label>
                <input type="text" id="volume" name="volume"
                  class="bg-indigo-50 border border-indigo-300 text-indigo-950 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 h-10"
                  placeholder="L" required="" />
              </div> 
          </div>  
          
          <div class="flex items-center justify-between">
            {% if error %}
            <p class="text-red-500 text-sm font-light">{{ error }}</p>
            {% endif %}
          </div>
          <button type="submit"
            class="w-full text-white bg-indigo-700 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Enter Product</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
{% endblock %}